@import "./base.css";

#app {
  display: flex;
  height: 100vh;
  padding: 0;
}

a,
.green {
  text-decoration: none;
  color: var(--primary);
  transition: 0.4s;
}

.btn {
  background-color: var(--primary);
  color: white;
}

.route-title-btn {
  font-weight: 500;
}

.route-list-item {
  margin: 10px;
}

.route-btn-container {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.route-btn {
  width: auto;
  border-radius: 20px;
  height: auto;
  border-width: 1px;
  border-style: solid;
  border-color: var(--primary);
}

.badge-btn {
  max-width: 4px;
  max-height: 4px;
  background-size: contain;
}

.nav-link {
  color: var(--primary);
}

.nav-link:hover {
  color: var(--secondary);
}

.input-simple {
  border: 1px solid #80868b;
  border-radius: 4px;
  padding: 8px;
  width: 100%;

  &:focus {
    outline: var(--dark-blue) auto;
  }
}

[data-tooltip] {
  &:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    transform: translate(-50%, 50%);
    background-color: var(--dark-green);
    color: var(--white);
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 0.875rem;
    white-space: nowrap;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
  .btn:hover {
    background-color: var(--secondary);
    color: white;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    height: 100vh;
    padding: 0;
    flex: 1;
  }
}
