@import "./base.css";

#app {
  display: flex;
  height: 100vh;
  padding: 0;
}

a,
.green {
  text-decoration: none;
  color: var(--primary);
  transition: 0.4s;
}

.btn {
  background-color: var(--primary);
  color: white;
}

.badge-btn {
  max-width: 4px;
  max-height: 4px;
  background-size: contain;
}

.nav-link {
  color: var(--primary);
}

.nav-link:hover {
  color: var(--secondary);
}

.input-simple {
  border: 1px solid #80868b;
  border-radius: 4px;
  padding: 8px;
  width: 100%;

  &:focus {
    outline: var(--dark-blue) auto;
  }
}

.search {
  background-image: url("@/assets/static/search.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
  background-size: 14px;
  padding: 8px calc(0.875rem * 2.5);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
  .btn:hover {
    background-color: var(--secondary);
    color: white;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    height: 100vh;
    padding: 0;
    flex: 1;
  }
}
